{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block content_block_name %}{% endblock %}

{% import 'LcdpAdminBundle:Core:macro.html.twig' as pageMacro %}

{% if news.id is defined and news.id is not null %}
    {% set pageTitle = "Edition d'un album" %}
{% else %}
    {% set pageTitle = "Nouvel album" %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li>Gestion des contenus</li>
    <li><a href="{{ path('lcdp_admin_albums') }}">Albums</a></li>
    <li class="active">{{ pageTitle }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title"> <i class="fa fa-pencil"></i> {{ pageTitle }} </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-xs-12 margin-bottom-sm">
                                        {{ form_label(form.title) }}
                                        </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_label(form.intro) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.intro, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_label(form.content) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.content) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        {{ form_label(form.startDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.endDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_widget(form.startDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_widget(form.endDate) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="video btn btn-blue col-md-4 col-lg-offset-1">Vidéos</span>
                                <span class="photo btn btn-green col-md-4 col-md-offset-2">Photos</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="video-content" class="hidden">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <i class="fa fa-list"></i>&nbsp;Liste des vidéos
                                    </div>
                                    <a class='add_tag_link' href='#'>Nouvelle vidéo</a>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="gray">
                                                <th>Titre de la vidéo</th>
                                                <th>Action possible</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, video in album.albumVideos %}
                                                <tr class="{% if loop.index % 2 %}odd{% endif %}" data-attr="{{ key }}" data-url="{{ video.url }}">
                                                    <td>{{ video.title }}</td>
                                                    <td>
                                                        <span class="edit-video">Editer</span>
                                                        <span class="preview-video">Prévisualiser</span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="video-preview" class="hidden text-center"></div>

                    <div id="collectionHolder" data-prototype="{{ pageMacro.albumVideo_prototype(form.albumVideos.vars.prototype)|e }}">
                        {% for key, trouble in form.vars.data.albumVideos %}
                            <div id="video-collection-{{ key }}" class="row hidden video-collection">
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <div class="panel-title"> <i class="fa fa-pencil"></i> Edition d'une vidéo</div>
                                            <a class="supp_tag_link" href="#">supp</a>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="col-xs-12 margin-bottom-sm">
                                                    {{ form_label(form.albumVideos[key].url) }}
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ form_widget(form.albumVideos[key].url, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-12 margin-bottom-sm">
                                                    {{ form_label(form.albumVideos[key].title) }}
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ form_widget(form.albumVideos[key].title, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-xs-12 margin-bottom-sm">
                                                    {{ form_label(form.albumVideos[key].content) }}
                                                </div>
                                                <div class="col-xs-12">
                                                    {{ form_widget(form.albumVideos[key].content) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="photo-content" class="hidden">
                    PHOTOS
                </div>

                <div class="form-group">
                    {#{{ form_rest(form) }}#}
                    <div class="col-xs-12">
                        <input class="btn pull-right btn btn-primary" type="submit" value="Enregistrer" />
                    </div>
                </div>

            {{ form_end(form) }}
        </div>

        {% if album.id|default %}
            {% include 'LcdpAdminBundle:Partial:colomn_right_edit_content.html.twig' with {
                'back_list_url' : path('lcdp_admin_news'),
                'unpublished_url' : path('lcdp_admin_content_publish_content', {'status': '0','content': 'Album', 'id': album.id}),
                'published_url' : path('lcdp_admin_content_publish_content', {'status': '1', 'content': 'Album', 'id': album.id}),
                'page' : album
            }%}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@LcdpAdminBundle/Resources/public/js/Album/edit.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}