{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ album.title|default }}</h2>

            <h3>{{ formatLcdpDateFromTo(album.startDate, album.endDate) }}</h3>

            <div class="article-content">{{ album.content|raw }}</div>

            {% for video in album.albumVideos %}
                <div class="col-xs-12">{{ video.url|raw }}</div>
            {% endfor %}

            <div class="col-xs-12">
                {% for picture in album.pictures %}
                    <img src="{{ fileUrl(picture.imgAlt, 'ALBUM') }}" width="150">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
