{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <h2>Tous les albums</h2>
    {% for child in albums %}
        <div class="row margin-bottom-lg news">
            <div class="col-xs-12">
                <h3 class="col-xs-12">{{ child.title }}</h3>
                <div class="col-xs-12 date">{{ formatLcdpDateFromTo(child.startDate, child.endDate) }}</div>
                <div class="col-xs-12">{{ child.intro|raw }}</div>
                <a class="btn-xs btn-gray btn pull-right margin-top" href="{{ path('front_album', {'slug': child.slug}) }}">> En savoir plus...</a>
            </div>
            <div class="col-xs-12">
                <span class="separator"></span>
            </div>
        </div>
    {% endfor %}

    {{ include('LcdpFrontBundle:Components:paginate.html.twig') }}
{% endblock %}
