{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>{{ albumGroup.album.title|default }}</h2>

            <h3>{{ formatLcdpDateFromTo(albumGroup.album.startDate, albumGroup.album.endDate) }}</h3>

            <div class="article-content">{{ albumGroup.content|raw }}</div>

            {% for video in albumGroup.albumVideos %}
                <div class="col-xs-12">{{ video.url|raw }}</div>
            {% endfor %}

            <div class="col-xs-12">
                {% for picture in pictures %}
                    <img src="{{ fileUrl(picture.imgAlt, 'ALBUM') }}" width="150">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
