{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li>Gestion de contenus</li>
    <li class="active">Albums</li>
{% endblock %}

{% block content %}

    <div class="row">
        {% include 'LcdpAdminBundle:Partial:form_filters.html.twig' with {
            'filter_title': 'Gestion des albums',
            'filter_url': path('lcdp_admin_album_edit'),
            'filter_button': 'Ajouter un album',
            'show_item': 'year'
        } %}

        <div class="clear"></div>

        <div class="col-md-12">
            <form id="pageListForm" method="POST">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="gray">
                            <th>Titre</th>
                            <th>Année</th>
                            <th>Publié</th>
                            <th>Date de publication</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for album in albums %}
                            <tr class="{% if loop.index % 2 %}odd{% endif %}" data-pageid="{{ album.id }}">
                                <td class='title'>{{ album.title }}</td>
                                <td class='year'>{{ album.startDateYear|default() }}</td>
                                <td class='publish'>{% if album.isPublished %}Oui{% else %}Non{% endif %}</td>
                                <td class='date'>{{ album.publicatedAt|date('d-m-Y \\à H:i:s') }}</td>
                                <td class="actions">
                                    <a href="{{ path('lcdp_admin_album_edit', {'id': album.id}) }}">
                                        <i class="fa fa-pencil"></i> Modifier
                                    </a>
                                    <a href="{{ path('lcdp_admin_content_soft_delete', {'content': 'Album','id': album.id}) }}" onclick="return confirm('Souhaitez-vous supprimer cette album ?');">
                                        <i class="fa fa-ban"></i> Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@LcdpAdminBundle/Resources/public/js/Album/list.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
