<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title"> <i class="fa fa-flask"></i> {{ filter_title }}</div>
            <div class="right">
                <a class="btn btn-default" href="{{ filter_url }}">{{ filter_button }}</a>
            </div>
        </div>

        <div class="panel-body">
            {{ form_start(form, {attr: {novalidate: 'novalidate', 'class': 'form-horizontal'}})}}

                <div class="left-side">
                    <div class="form-group">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.isPublished) }}
                        {{ form_widget(form.isPublished) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.canBeDeleted) }}
                        {{ form_widget(form.canBeDeleted) }}
                    </div>
                </div>

                <div class="right-side">
                    <div class="form-group">
                        {{ form_label(form.section) }}
                        {{ form_widget(form.section) }}
                    </div>
                </div>

                {{ form_rest(form)}}

                <input type="submit" class="btn btn-primary btn-sm" value="Filtrer"/>
            {{ form_end(form)}}
        </div>
    </div>
</div>