{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    <h2>Actualités</h2>
    {% for child in news %}
        <div class="row margin-bottom-lg news">
            <div class="col-xs-4">
                {% if child.image is not empty %}
                    <img src="{{ fileUrl(child.image, 'NEWS', 'med') }}" width="220" />
                {% else %}
                    <img src="http://fakeimg.pl/230x180/" width="230" />
                {% endif %}
            </div>
            <div class="col-xs-8">
                <h3 class="col-xs-12">{{ child.title }}</h3>
                <div class="col-xs-12">{{ child.intro|raw }}</div>
                <a class="btn-xs btn-gray btn pull-left margin-top margin-left">Ajouté le : {{ child.createdAt|formatLcdpDate }}</a>
                <a class="btn-xs btn-gray btn pull-right margin-top" href="{{ path('front_news', {'slug': child.slug}) }}">> En savoir plus...</a>
            </div>
            <div class="col-xs-12">
                <span class="separator"></span>
            </div>
        </div>
    {% endfor %}

    {{ include('LcdpFrontBundle:Components:paginate.html.twig') }}
{% endblock %}
