{% extends "LcdpFrontBundle::layout.html.twig" %}

{% block content %}
    {% for child in news %}
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ child.title }}</h3>

                {#<img src="{{ fileUrl(child.image|split('.')[0]) }}" />#}
                {{ child.intro|raw }}

                <a class="btn-xs btn-gray btn pull-right" href="{{ path('front_news', {'slug': child.slug}) }}">> En savoir plus...</a>
            </div>
        </div>
    {% endfor %}

    {{ include('LcdpFrontBundle:Components:paginate.html.twig') }}
{% endblock %}
