<div id="below-logo-container-sticky-wrapper" class="sticky-wrapper" style="height: 35px;">
    <div id="below-logo-container" class="" style="">
        <nav id="below-logo" class="hybrid navigation clearfix" role="navigation">
            <ul class="nav clearfix" style="display: block;">
                <li id="menu-item-360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-360"><a href="{{ path('homepage')}}">Accueil</a></li>
                <li id="menu-item-371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-371">
                    <a href="" class="cursor-default add-arrow">Le club</a>
                    <ul class="sub-menu">
                        <li id="menu-item-383" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-383">
                            <a href="{{ path('club_histoire') }}">Histoire</a>
                        </li>
                        <li id="menu-item-386" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-386">
                            <a href="{{ path('club_organigramme') }}">Organigramme</a>
                        </li>
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="{{ path('club_infos') }}">Infos pratiques</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-371">
                    <a href="" class="cursor-default add-arrow">L'association</a>
                    <ul class="sub-menu">
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="{{ path('assoc_all_soiree') }}">Soirées</a>
                        </li>
                        <li id="menu-item-386" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-386">
                            <a href="{{ path('assoc_all_sortie') }}">Sorties</a>
                        </li>
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="{{ path('assoc_all_voyage') }}">Voyages</a>
                        </li>
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="">Infos</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-371">
                    <a href="" class="cursor-default add-arrow">Danse</a>
                    <ul class="sub-menu">
                        <li id="menu-item-383" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-383">
                            <a href="{{ path('danse_all_news') }}">Actualités</a>
                        </li>
                        <li id="menu-item-386" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-386">
                            <a href="">Résultats</a>
                        </li>
                        <li id="menu-item-386" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-386">
                            <a href="{{ path('danse_all_soiree') }}">Soirées</a>
                        </li>
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="{{ path('danse_cours') }}">Cours / Horraires</a>
                        </li>
                        <li id="menu-item-385" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-385">
                            <a href="{{ path('danse_infos') }}">Infos</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-367" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-367">
                    <a href="" class="cursor-default add-arrow">Football</a>
                    <ul class="sub-menu">
                        <li id="menu-item-365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-365">
                            <a href="{{ path('foot_all_news') }}">Actualités</a>
                        </li>
                        <li id="menu-item-730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-730">
                            <a href="">Résultats</a>
                        </li>
                        <li id="menu-item-364" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364">
                            <a href="">Infos</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-731">
                    <a href="{{ path('contact_us') }}">Porfolio</a>
                </li>
                <li id="menu-item-665" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-665">
                    <a href="{{ path('contact_us') }}">Contact</a>
                </li>
            </ul>
            
            <form method="get" action="./Swift Theme   For a faster web !_files/Swift Theme   For a faster web !.htm" id="navsearch">
                <input type="text" value="Type and hit enter to Search" name="s" onfocus="if (this.value == &#39;Type and hit enter to Search&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Type and hit enter to Search&#39;;}" class="textfield">
                <input type="hidden" value="GO">
            </form>
        </nav>
    </div>
</div>