<div class="row">
    {#<a href="{{ lcdp_urls.foot }}" class="bleu col-xs-3">#}
        {#<img src="{{ asset('bundles/lcdpfront/img/Picto_FOOT_BLANC_xs.png') }}"/>#}
        {#<span>LCDP FOOT</span>#}
    {#</a>#}

    <a href="{{ lcdp_urls.asso }}" class="violet col-xs-3">
        <img src="{{ asset('bundles/lcdpfront/img/Picto_LISTE_BLANC_xs.png') }}"/>
        <span>LCDP ASSOCIATION</span>
    </a>

    {#<a href="{{ lcdp_urls.petanque }}" class="orange col-xs-3">#}
        {#<img src="{{ asset('bundles/lcdpfront/img/Picto_LISTE_BLANC_xs.png') }}"/>#}
        {#<span>LCDP PETANQUE</span>#}
    {#</a>#}

    {#<a href="#" class="gris">#}
        {#<span>Nous contacter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>#}
    {#</a>#}
</div>