<div id="agenda" class="bulle rose">
    <h2 class="text-center">A vos agendas !</h2>
    <ul>
        {% for item in news %}
            <li>
                <a href="{{ path('front_event', {"slug": item.slug}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('front_events') }}" class="btn btn-blue btn-xs">Voir tous les événements</a>
</div>

<div id="gallerie" class="bulle orange">
    <a href="{{ path('front_albums_years') }}"><h2 class="text-center">LCDP en images</h2></a>

    {#<div class="home-gallery">#}
        {#<ul id="lightSlider">#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-1.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-1.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-2.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-2.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-3.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-3.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-4.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-4.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-5.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-5.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-6.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-6.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-7.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-7.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-8.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-8.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-9.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-9.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-10.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-10.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-11.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-12.jpg" />#}
            {#</li>#}
            {#<li data-thumb="http://sachinchoolur.github.io/lightslider/img/thumb/cS-13.jpg">#}
                {#<img src="http://sachinchoolur.github.io/lightslider/img/cS-13.jpg" />#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}
</div>

<div id="benevol" class="bulle violet">
    <h2 class="text-center">Tous BÉNÉVOLES !</h2>
    <div class="row">
        <img class="col-xs-6" src="{{ asset('bundles/lcdpfront/img/Picto_DISCUTION_VIOLET_xs.png') }}"/>
        <ul class="col-xs-6">
            {% for item in volunteers %}
                <li>
                    <a href="{{ path('front_volunteer', {"slug": item.slug}) }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
