<div id="agenda" class="bulle rose hidden-sm">
    <h2 class="text-center">A vos agendas !</h2>
    <ul>
        {% for item in events %}
            <li>
                <a href="{{ path('front_event', {"slug": item.slug}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('front_events') }}" class="btn btn-blue btn-xs">Voir tous les événements</a>
</div>

<div id="gallerie" class="bulle orange col-sm-6 col-md-12">
    <a href="{{ path('front_albums_years') }}"><h2 class="text-center">LCDP en images</h2></a>

    <div class="home-gallery text-center">
        <ul id="lightSlider">
            {% for i in 1..15 %}
                <li>
                    <a href="{{ path('front_albums_years') }}"><img src="{{ asset('/store/content/img_home/' ~ i ~ '.png') }}" /></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="benevol" class="bulle violet col-sm-6 col-md-12">
    <h2 class="text-center">Tous BÉNÉVOLES !</h2>
    <div class="row">
        <img class="col-xs-5" src="{{ asset('bundles/lcdpfront/img/Picto_DISCUTION_VIOLET_xs.png') }}"/>
        <ul class="col-xs-7">
            {% for item in volunteers %}
                <li>
                    <a href="{{ path('front_volunteer', {"slug": item.slug}) }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('front_news', {"slug": 'participer-a-la-vie-du-site'}) }}">Participez à la vie du site</a>
            </li>
        </ul>
    </div>
</div>
