<div id="agenda" class="bulle rose">
    <h2 class="text-center">A vos agendas !</h2>
    <ul>
        {% for item in events %}
            <li>
                <a href="{{ path('front_event', {"slug": item.slug}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('front_events') }}" class="btn btn-blue btn-xs">Voir tous les événements</a>
</div>

<div id="gallerie" class="bulle orange">
    <a href="{{ path('front_albums_years') }}"><h2 class="text-center">LCDP en images</h2></a>

    <div class="home-gallery">
        <ul id="lightSlider">
            {% for i in 1..15 %}
                <li>
                    <a href="{{ path('front_albums_years') }}"><img src="{{ asset('/store/content/img_home/' ~ i ~ '.png') }}" /></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="benevol" class="bulle violet">
    <h2 class="text-center">Tous BÉNÉVOLES !</h2>
    <div class="row">
        <img class="col-xs-6" src="{{ asset('bundles/lcdpfront/img/Picto_DISCUTION_VIOLET_xs.png') }}"/>
        <ul class="col-xs-6">
            {% for item in volunteers %}
                <li>
                    <a href="{{ path('front_volunteer', {"slug": item.slug}) }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
