{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block content_block_name %}{% endblock %}

{% if news.id is defined and news.id is not null %}
    {% set pageTitle = "Edition d'une actualité" %}
{% else %}
    {% set pageTitle = "Nouvelle actualité" %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li>Gestion de contenus</li>
    <li><a href="{{ path('lcdp_admin_news') }}">Actualités</a></li>
    <li class="active>{{ pageTitle }}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"> <i class="fa fa-pencil"></i> {{ pageTitle }} </div>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <div class="form-group">
                                        {{ form_label(form.title, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    {% if imageUrl is not empty %}
                                        <div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-9">
                                                <img src='{{ imageUrl }}' width="250" />
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        {{ form_label(form.file, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.intro, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.intro, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.content, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                        <div class="col-md-9">
                                            {{ form_widget(form.content, {'attr': {'class': 'form-control wysiwyg'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_rest(form) }}
                                        <span class="col-lg-2 control-label">&nbsp;</span>
                                        <div class="col-md-9">
                                            <input class="btn btn btn-primary" type="submit" value="Enregistrer" />
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'LcdpAdminBundle:Partial:colomn_right_edit_content.html.twig' with {
            'back_list_url' : path('lcdp_admin_news'),
            'unpublished_url' : path('lcdp_admin_content_publish_content', {'status': '0','content': 'News', 'id': news.id}),
            'published_url' : path('lcdp_admin_content_publish_content', {'status': '1', 'content': 'News', 'id': news.id}),
            'page' : news
        }%}
    </div>

{% endblock %}
