{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block content_block_name %}{% endblock %}

{% if page.id is defined and page.id is not null %}
    {% set pageTitle = "Edition de page" %}
{% else %}
    {% set pageTitle = "Nouvelle page" %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li>Gestion de contenus</li>
    <li><a href="{{ path('lcdp_admin_page') }}">Pages statiques</a></li>
    <li class="active>{{ pageTitle }}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title"> <i class="fa fa-pencil"></i> {{ pageTitle }} </div>
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}

                                <div class="form-group">
                                    {{ form_label(form.title, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.intro, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.intro, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.content, null, {'label_attr': {'class' : 'col-lg-2 control-label'}}) }}
                                    <div class="col-md-9">
                                        {{ form_widget(form.content, {'attr': {'class': 'form-control wysiwyg'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_rest(form) }}
                                    <span class="col-lg-2 control-label">&nbsp;</span>
                                    <div class="col-md-9">
                                        <input class="btn btn btn-primary" type="submit" value="Enregistrer" />
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'LcdpAdminBundle:Partial:colomn_right_edit_content.html.twig' with {
            'unpublished_url' : path('lcdp_admin_content_publish_content', {'status': '0','content': 'Page', 'id': page.id}),
            'published_url' : path('lcdp_admin_content_publish_content', {'status': '1', 'content': 'Page', 'id': page.id}),
            'page' : page
        }%}
    </div>

{% endblock %}
