{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li><a href="{{ path('lcdp_admin_users') }}">Utilisateurs</a></li>
    <li class="active">Edition d'un utilisateur</li>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="" method="post" id="user_form" name="unapei_user" novalidate="novalidate">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title"><i class="fa fa-pencil"></i>Informations personnelles</div>
                            </div>

                            <div class="panel-body">
                                <div id="users-edition" class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="row m-b">
                                                <div class="col-sm-6 no-padding full-width-child">{{ form_row(form.firstname) }}</div>
                                                <div class="col-sm-6 no-padding full-width-child">{{ form_row(form.lastname) }}</div>
                                            </div>

                                            <div class="row m-b">
                                                <div class="col-sm-6 no-padding full-width-child xs-m-b">{{ form_row(form.email.first) }}</div>
                                                <div class="col-sm-6 no-padding full-width-child">{{ form_row(form.email.second) }}</div>
                                            </div>

                                            <div class="row m-b">
                                                <div class="col-lg-6 no-padding full-width-child">
                                                    {{ form_row(form.cannonicalPassword.first, {'attr': {'infoBulle': true, 'infoMessage': 'lg.form.help.password'}}) }}
                                                </div>
                                                <div class="col-sm-6 no-padding full-width-child">{{ form_row(form.cannonicalPassword.second) }}</div>
                                            </div>
                                            <div class="row m-b">
                                                <div class="col-sm-3 no-padding full-width-child">
                                                    {{ form_row(form.profiles, {'attr': {'radioSize': 3, 'radioColSize': 2}}) }}
                                                </div>
                                                <div class="col-sm-3 no-padding full-width-child">{{ form_row(form.locked, {'attr': {'radioSize': 3, 'radioColSize': 2}}) }}</div>
                                                <div class="col-sm-6 no-padding full-width-child xs-m-b">{{ form_row(form.login) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hidden">
                    {{ form_rest(form) }}
                </div>

                <div class="form-group float-e-margins">
                    <div class="col-xs-12 m-b">
                        <button type="button" class="publish btn btn-primary pull-right">Enregistrer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var isNew = "{{ isNew|default(false) }}";
    </script>

    {% javascripts '@LcdpAdminBundle/Resources/public/js/User/edit.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

