{% extends "::base.html.twig" %}

{% block body %}
    <div id="wrapper" class="clearfix">
        <header id="header">
            <div class="col-lg-9">
                <div class="col-xs-12">
                    <h1 title="Le club des pâquerettes, tous ensemble !"><span class="intro"></span></h1>
                </div>
                <div class="col-xs-12">
                    <img src="{{ asset('bundles/lcdpcommon/images/banniere_V01.png') }}" style="width:100%" alt="Bannère du site"/>
                </div>
            </div>

            <div class="col-lg-3">
                <a href="{{ path('homepage') }}" title="Le club des pâquerettes" rel="Page d'acceuil">
                    <img src="{{ asset('bundles/lcdpcommon/images/logo/LCDP_degrade.png') }}" alt="Logo : Le club des paquerêttes" title="Page d'accueil" width="300"/>
                </a>
                <h2>Enfants, ados, adultes, seniors</h2>
            </div>
        </header>

        <div id="main" class="row">
            <div class="col-md-3">
                {{ render(controller('LcdpFrontBundle:Home:menuLeft')) }}
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="menu-top col-xs-12">
                        {% include 'LcdpFrontBundle:Components:menu-top.html.twig' %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div id="center-content" class="bulle">
                                {% block content %}{% endblock %}
                            </div>
                        </div>

                        {% include 'LcdpFrontBundle:Components:menu-bottom.html.twig' %}
                    </div>

                    <div class="col-md-4">
                        {{ render(controller('LcdpFrontBundle:Home:menuRight')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script>
        $('.home-gallery #lightSlider').lightSlider({
            gallery: false,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 9,
            auto: true
        });
    </script>
{% endblock %}
