{% extends "LcdpAdminBundle::layout.html.twig" %}

{% block content_block_name %}{% endblock %}

{% import 'LcdpAdminBundle:Core:macro.html.twig' as pageMacro %}

{% if album.id is defined and album.id is not null %}
    {% set pageTitle = "Edition d'un album" %}
{% else %}
    {% set pageTitle = "Nouvel album" %}
{% endif %}

{% block breadcrumb %}
    <li><a href="{{ path('lcdp_admin_homepage') }}">Accueil</a></li>
    <li>Gestion des contenus</li>
    <li><a href="{{ path('lcdp_admin_albums') }}">Albums</a></li>
    <li class="active">{{ pageTitle }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form_start(form, {'attr' : {'class': 'form-horizontal'}}) }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title"> <i class="fa fa-pencil"></i> {{ pageTitle }} </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-xs-12 margin-bottom-sm">
                                        {{ form_label(form.title) }}
                                        </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        {{ form_label(form.startDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_label(form.endDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_widget(form.startDate) }}
                                    </div>
                                    <div class="col-xs-6">
                                        {{ form_widget(form.endDate) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_label(form.intro) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.intro, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        {{ form_label(form.content) }}
                                    </div>
                                    <div class="col-xs-12">
                                        {{ form_widget(form.content) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="group-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <i class="fa fa-list"></i>&nbsp;Liste des groupes
                                    </div>
                                    <a class='add_tag_link' href='#'>Nouveau groupe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="collectionGroup" data-prototype="{{ pageMacro.albumGroup_prototype(form.albumGroups.vars.prototype)|e }}">
                    {% for key, item in form.vars.data.albumGroups %}
                        <div id="group-collection-{{ key }}" class="row group-collection">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="panel-title"><i class="fa fa-pencil"></i> Edition d'un groupe</div>
                                        <a class="supp_tag_link" href="#">supp</a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-xs-12 margin-bottom-sm">
                                                {{ form_label(form.albumGroups[key].title) }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ form_widget(form.albumGroups[key].title, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 margin-bottom-sm">
                                                {{ form_label(form.albumGroups[key].content) }}
                                            </div>
                                            <div class="col-xs-12">
                                                {{ form_widget(form.albumGroups[key].content,  {'attr': {'class': 'tinymce', 'data-theme': 'advanced'}}) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="{{ path('lcdp_admin_album_group_video', {'albumId': album.id, 'groupId': item.id}) }}"
                                                   class="fancybox video btn btn-blue col-md-4 col-lg-offset-1"
                                                   data-height="800" data-max-height="800"
                                                >
                                                    Vidéos
                                                </a>
                                                <a href="{{ path('lcdp_admin_album_group_photo', {'albumId': album.id, 'groupId': item.id}) }}"
                                                   class="fancybox photo btn btn-green col-md-4 col-md-offset-2"
                                                   data-height="800" data-max-height="800"
                                                >
                                                    Photos
                                                </a>
                                            </div>
                                        </div>

                                        <div id="preview-{{ key }}" class="hidden text-center"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="btn pull-right btn btn-primary" type="submit" value="Enregistrer" />
                    </div>
                </div>

            {{ form_end(form) }}
        </div>

        {% if album.id|default %}
            {% include 'LcdpAdminBundle:Partial:colomn_right_edit_content.html.twig' with {
                'back_list_url' : path('lcdp_admin_news'),
                'unpublished_url' : path('lcdp_admin_content_publish_content', {'status': '0','content': 'Album', 'id': album.id}),
                'published_url' : path('lcdp_admin_content_publish_content', {'status': '1', 'content': 'Album', 'id': album.id}),
                'page' : album
            }%}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '@LcdpAdminBundle/Resources/public/js/Album/edit.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}